.navbar{
    background-color: black;
    border-bottom: solid grey;
    height: 80px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.menu-bars {
    margin-left: 2rem;
    font-size: 2rem;
    background: none;
}

.nav-menu{
    background-color: black;
    width: 325px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: -100%;
    transition: 850ms;
}

.nav-menu.active{
    left: 0;
    transition: 350ms;
}

.nav-text {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 8px 0px 8px 16px;
    list-style: none;
    height: 60px;
}

.nav-text a {
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 16px;
    border-radius: 4px;
}

.nav-text a:hover {
    background-color: #1a83ff;
}

.nav-menu-items {
    width: 100%;
}

.navbar-toggle {
    background-color: black;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

span {
    margin-left: 16px;
}

.hea {
    color: white;
    margin-right: 2rem;
    text-decoration: none;
}

.hea:hover{
    color: white;
}

.ali {
    display: flex;
    margin-left: 14rem;
}

.pinoy{
    display: block;
    background-color: white;
    padding: 5px;
    border-radius: 5px;
    margin-left: 35%;
    margin-top: 15rem;
    font-size: 20px;
}

.fic {
    border-radius: 100px;
    display: block;
    margin-left: auto;
    margin-top: 5%;
    margin-right: auto;
    margin-bottom: 3%;
}

.information {
    text-align: center;
    color: white;
}

.space {
    margin-bottom: 20%;
}

ul {
    list-style-type: none;
}